# Archivos del sistema
.DS_Store
Thumbs.db

# Configuración de editores
.vscode/

# Archivos temporales
*.tmp
*.temp
*.log

# Dependencias de Node.js
node_modules/

# Archivos de compilación
dist/
build/